.bg-image {
    background: url('../assets/images/back-2.png') no-repeat center;
    background-size:cover;
}

.container-fluid {
    max-width: 90%;
    margin: 0 auto;
}

/* body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('../assets/images/back-2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /*z-index: -1;*/


/* .content {
  position: relative;
  z-index: 1;
  padding: 20px;
  /*height: 200vh; /* Ensures the page is scrollable */
  