/* .notifications-tab {
  padding: 20px;
} */

.subtab-nav {
  display: flex;
  /*gap: 10px;*/
  justify-content: center;
}

.subtab-nav button {
  padding: 10px 20px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}

.subtab-nav button.active {
  background-color: #007bff;
  color: white;
}

.subtab-hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.subtab-content-wrapper {
  padding: 10px 0;
}

.subtab-content {
  margin-top: 10px;
  display:flex;
  justify-content:space-between;
  gap:20px;
}



.subtab-content .form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 20px;
  flex-direction: row;
  justify-content:flex-start;
}

.form-group {
  margin-bottom: 10px;
}

.form-inline {
  display: flex;
  gap: 10px;
}



.subtab-content form-group.input {
  margin-right: 10px;
}