/* Analytics.css */

/* body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  padding: 20px;
  height: 200vh; /* Ensures the page is scrollable */
  /*background: rgba(255, 255, 255, 0.8); /* Optional: Add background to content for readability 
} */

.analytics-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: white;
}

.chart-container {
  margin-bottom: 20px;
  background-color: #1E2A4A;
  padding: 10px;
  border-radius: 10px;
}

.chart-title {
  margin-bottom: 20px;
}

.stats-container {
  display: flex;
  justify-content: space-around;
}
